body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #888888;
}

/* ---------------------------------- */

.tabbable > .nav > li {
    font-size: 24px;
    font-weight: bold;
}

/* ---------------------------------- */

.tabbable > .nav[id=mainNav] > li {
    font-size: 40px;
    margin-left: 20px;
}

.tabbable > .nav[id=mainNav] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 5px solid #484747;
    padding: 10px 40px;
}

.tabbable > .nav[id=mainNav] > li[class=active] > a {
    background-color: #484747;
    color: white;
    border: 5px solid #484747;
}

.tabbable > .nav[id=mainNav] > li > a:hover {
    background-color: #484747;
}

#mainNav {
    
    border-radius: 4px; 
    border-bottom: 1px solid #888888;
    margin-top: -15px;
}


/* ---------------------------------- */

.tabbable > .nav[id=timelineNav] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 4px solid #888888;
}

.tabbable > .nav[id=timelineNav] > li[class=active] > a {
    background-color: #888888;
    color: white;
    border: 4px solid #484747;
}

.tabbable > .nav[id=timelineNav] > li > a:hover {
    background-color: #888888;
    border: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=overviewNav] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 4px solid #888888;
}

.tabbable > .nav[id=overviewNav] > li[class=active] > a {
    background-color: #888888;
    color: white;
    border: 4px solid #484747;
}

.tabbable > .nav[id=overviewNav] > li > a:hover {
    background-color: #888888;
    border: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=mapTabs1] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=mapTabs1] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=mapTabs1] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=mapTabs2] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=mapTabs2] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=mapTabs2] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=mapTabs3] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=mapTabs3] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=mapTabs3] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=a3Tabs] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=a3Tabs] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=a3Tabs] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */
/* delete */
.tabbable > .nav[id=a2Tabs] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=a2Tabs] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=a2Tabs] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=chartAndTable_tabs] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=chartAndTable_tabs] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=chartAndTable_tabs] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

#mapTabs1, #mapTabs2, #mapTabs3, #a3Tabs, #a2Tabs, #b2Tabs, #chartAndTable_tabs, #c2c4tabs, #c5tabs1, #c5tabs2
                                    {border-radius: 4px; border-bottom: 0px solid #AAAAAA; margin-bottom: 10px;}


/* ---------------------------------- */

.tabbable > .nav[id=b2Tabs] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=b2Tabs] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=b2Tabs] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=c2c4tabs] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=c2c4tabs] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}


.tabbable > .nav[id=c2c4tabs] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=c5tabs1] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=c5tabs1] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=c5tabs1] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav[id=c5tabs2] > li > a {
    color: #CFCFCF;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px solid #AAAAAA;
}

.tabbable > .nav[id=c5tabs2] > li[class=active] > a {
    background-color: #AAAAAA;
    color: white;
    border: 0px;
    border-bottom: 4px solid #484747;
}

.tabbable > .nav[id=c5tabs2] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px;
    border-bottom: 4px solid #484747;
}

/* ---------------------------------- */

.tabbable > .nav > li > a {
    color: #CFCFCF;
    border-radius: 4px;
}

.tabbable > .nav > li[class=active] > a {
    background-color: #484747;
    color: white;
}

.tabbable > .nav > li > a:hover {
    background-color: #484747;
}

/* ---------------------------------- */

.nav-tabs-custom > .nav > li {
    font-size: 26px;
}

/* ---------------------------------- */

.nav-tabs-custom > .nav > li > a {
    color: #666666;
    border-radius: 4px;
    margin: 0px;
    padding: 10px;
    margin-left: 30px;
}

.nav-tabs-custom > .nav > li[class=active] > a {
    background-color: #DDDDDD;
    color: #484747;
    border: 0px;
    margin: 1px;
    margin-left: 31px;
}

.nav-tabs-custom > .nav > li > a:hover {
    background-color: #DDDDDD;
    border: 0px solid #DDDDDD;
    margin: 1px;
    margin-left: 31px;
}

/* ---------------------------------- */

.nav-tabs-custom > .nav[id=hideTabs] > li[class=active] > a {
    background-color: #AAAAAA;
    color: #484747;
    border: 0px;
    margin: 1px;
    margin-left: 31px;
}

.nav-tabs-custom > .nav[id=hideTabs] > li > a:hover {
    background-color: #AAAAAA;
    border: 0px solid #AAAAAA;
    margin: 1px;
    margin-left: 31px;
}

/* ---------------------------------- */

.nav-tabs-custom {padding: 20px 20px 0px 20px; margin: 3px 0px 3px 0px; background-color: #AAAAAA; color: #484747; border-radius: 4px;}

/* ---------------------------------- */

.nav-tabs-custom > .nav > li {
    float: right;
}

.pull-right {
    float: left !important;
    font-size: 26px;
}

.nav-tabs-custom > .nav {
    border-bottom: 0px;
}

/* ---------------------------------- */


/* ---------------------------------- */

/* ---------------------------------- */

#timelineNav {border-radius: 4px; border-bottom: 0px solid #188888; margin-top: -10px;}

/* ---------------------------------- */

#overviewNav {border-radius: 4px; border-bottom: 0px solid #188888;}

/* ---------------------------------- */

.selectize-control {

    margin-right: 37px;
}

/* ---------------------------------- */

.selectize-input {background: #DDDDDD !important; font-size:24px; width:100%;height:50px;line-height:50px;z-index:10 !important;} .selectize-dropdown {font-size:24px;width:100%;z-index:11 !important;}

/* ---------------------------------- */

.irs {margin-top: 30px;}
.irs-grid-pol.small {height: 0px;}
.irs-grid-pol {height: 15px; width: 5px; top: 17px; background: #666666;}

/* ---------------------------------- */

.irs-grid-text {font-size: 20px; color: white; z-index: 0; bottom: -20px;}
.irs-single {font-size: 26px; color: white; background: #484747; top: 63px; z-index:1; padding-left: 5px; padding-right: 5px;}
.irs-slider {background: #666666; width: 30px; height: 45px; top: 15px; border-radius: 4px;}
.irs-slider:hover {background: #666666; width: 30px; height: 45px; top: 15px; border-radius: 4px;}
.irs-bar {width: 100%; height: 25px; background: #484747; border-top: 1px solid #484747; border-bottom: 1px solid #484747;}
.irs-bar-edge {background: #484747; border: 1px solid #484747; height: 25px; border-radius: 4px; width: 20px;}
.irs-line {background: #CFCFCF; border: 1px solid #CFCFCF; height: 25px; border-radius: 4px;}

/* ---------------------------------- */

.irs-min, .irs-max {display: none;}
.irs-to, .irs-from {font-size: 26px; color: white; background: #484747; top: -25px;}

/* ---------------------------------- */

/*
.nav-tabs-custom > .irs {margin-top: 0px;}

#distanceSlider {
    padding: 0px 30px 20px 30px;
}
*/

/* ---------------------------------- */

.checkbox{
    font-size: 26px !important;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: -10px;
}

#magnitudes_Input {
    font-size: 26px !important;
}

#mapping_Input {
    font-size: 26px !important;
}

#mapLayers_Input {
    font-size: 26px !important;
}

input[type=checkbox] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin-top: 12px;
  font-size: 26px !important;
}

input[type=checkbox]:checked + span{
    background-color: #484747;
} 

.checkbox-inline {

    padding-right: 20px;
    padding-left: 20px;
}

.checkbox-inline > span {
    padding-left: 16px;
    padding-right: 20px;
}

.checkbox > label > span {
    padding-left: 10px;
    padding-right: 15px;
}

/* ---------------------------------- */

.radio-inline {

    padding-left: 40px !important;
}

#yearsRange_radio {
    font-size: 26px !important;
    padding-top: 16px !important;
}

input[type=radio] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin-top: 12px;
}

.radio > label > span {
    padding-left: 20px;
    padding-right: 20px;
}

input[type=radio]:checked + span{
    background-color: #484747;
} 

/* ---------------------------------- */

#modal_Settings .modal-footer, #modal_About .modal-footer {display:none;}

/* ---------------------------------- */

#modal_Settings, #modal_About {font-size:25px;}

/* ---------------------------------- */

#action_Settings {padding: 10px 20px 10px 20px; margin-top: -47px; margin-right: 10px;}
#action_About {padding: 10px 20px 10px 20px; margin-top: -47px; margin-right: 20px;}

#action_AddCharts {
    font-size: 32px;
    margin-right: 20px;
}

/* ---------------------------------- */

h1 {display: inline-flex; font-size: 72px; font-weight: bold; color: #484747; padding: 55px 50px 0px 0px;}

/* ---------------------------------- */

h2 {font-size: 35px; font-weight: bold; margin-top: 8px; }


/* ---------------------------------- */

.hovertext text {font-size: 21px !important;}

/* ---------------------------------- */

.dropdown-menu { 
    left: -1000px !important;
    top: -400px !important;
}

.open>.dropdown-menu {
    left: -1000px !important;
    top: -400px !important;
}

.dropdown-shinyWidgets { 
    left: -1000px !important;
    top: -400px !important;
}

.open>.dropdown-shinyWidgets { 
    left: -1000px !important;
    top: -400px !important;
}

/* ---------------------------------- */

.well {
    background-color: #888888;
    border: 3px double #AAAAAA;
    padding-bottom: 5px;
    padding-top: 5px;
}

/*
#mapLayers_Panel {

    display: none
}

#countiesSelect_Panel {

    display: none
}
*/

#hide {
z-index: 17;
width: 100%;
height: 100%;

}

#hide2 {
    z-index: 17;
    width: 100%;
    height: 100%;
    
    }

/* ---------------------------------- */

.leaflet-control {
    color: #484747;
    font-size: 26px !important;
    /*display: none !important;*/
}

.leaflet-control-measure {
    color: #484747;
    font-size: 26px !important;
    /*display: none !important;*/
}

.leaflet-control-attribution {
    display: none !important;
}

.leaflet-left {
    left: 10px !important;
}

.leaflet-top {
    top: 10px !important;
}

.leaflet-right {
    right: 10px !important;
}

.leaflet-bottom {
    bottom: 10px !important;
}



/* ---------------------------------- */

#extraCharts {
    display: none;
    position: absolute;
    background-color: rgb(72, 71, 71, .95);
    min-height: 77vh;
    min-width: 3700px;
    bottom: 60px;
    left: 330px;
    z-index: 9;
    padding: 20px 20px 10px 20px;
}


/* ---------------------------------- */

.padding1 {

    height:102px;

}

/* ---------------------------------- */

.dataTable {
    color: black;
}

thead {
    color: white;
}

/* ---------------------------------- */




/* ---------------------------------- */



/* ---------------------------------- */



/* ---------------------------------- */